:root {
	--white: #ffffff;
	--black: #000000;
	--grayish: #ededed;
}
body {
	
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

nav div form input[type=text] {
	border-style: solid;
}

a {
	text-decoration-line: none;
	color: var(--black);

}

a:hover {
	color: var(--white);
}

.search-container {
	display: flex;
	align-items: center;
}

#search {
	height: 20px;
	width: auto;
}

#searchImg {
	height: 20px;
	width: auto;
}

a.footer {
	display: inline-block; 
	margin: 40px;
	font-size: 18px;
}

.footerdiv {
	text-align: center;
	
}

footer{
	border: 2px black solid;
	border-radius: 10px;
	background-color: var(--grayish);
}

.mainbodytxt {
	font-size: 96px;

}
